/* GESTION HOVER */
.LeftButtonCar:hover,
.RightButtonCar:hover {
    transform: scale(1.5);
    transition: ease 100ms
}

.ButtonCar:hover {
    transform: scale(1.1);
    transition: ease 100ms
}

.FormCarButton:hover {
    background-color: rgba(70, 150, 70, 1) !important;
}

.ButtonCar:hover {
    background-color: white !important;
    color: #3E8F3E !important;
}
/* MOBILE FIRST */

/* .HomeCar {
    background-image: url('./assets/img/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */

.FormCar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FormCarForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main {
    margin: 0 2rem;
}

/* TABLET */
@media (min-width: 768px) {
    .FormCarForm {
        flex-direction: row;
    }

    .FormCar {
        position: relative;
        top: 20rem;
    }

    .SortCar {
        margin: 5rem 2rem 0 0;
    }

    .LineCarTextAndButton {
        margin: 0 2rem 0 auto
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .FormCar {
        flex-direction: row;
        padding: 0 !important;
        position: unset;
        margin: 15rem !important;
    }

    .FormCarForm {
        padding: .5rem;
    }

    .FormCarForm select,
    .FormCarForm input {
        width: 30% !important;
    }

    .FormCarButton {
        margin: 0 !important;
        width: 35% !important;
        align-self: stretch;
    }

    .HomeCar {
        background-position: center;
        min-height: 45vh !important;
    }

    .SortCar {
        margin: 0 !important;
    }

    .ButtonCar {
        margin: 0 !important
    }

    main {
        width: 65%;
        margin: 0 auto;
    }

    .LineCarText {
        display: flex !important;
    }

    .LineCarImg {
        width: 35vw !important;
    }

    .LineCarTextAndButton {
        flex-direction: column;
        margin-left: 2rem;
        align-items: flex-start !important;
        justify-content: space-evenly !important;
    }

    .LineCarButton {
        margin: 0 !important;
    }

    .LineCarImg {
        width: 40% !important;
    }

    .ContactCar {
        display: flex !important;
    }
}