* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
}

button,
select,
input,
option {
  cursor: pointer;
  font-family: inherit;
}

li {
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}